@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');


* {
	padding:0;
	margin:0;
	font-family: 'Poppins', sans-serif;
}

html{
	scroll-behavior: smooth;
}

a {
	color: inherit;
	text-decoration: none;
}
.medsos {
	padding:5px 0;
	background-color: #148F77;
	position: fixed;
}
.medsos ul li {
	display: inline-block;
	color: #fff;
	margin-right: 10px;

}
.container {
	width:80%;
	margin:0 auto;
}

.container:after {
	content:'';
	display: block;
	clear: both;
}

header{
	background: #148F77;
	width: 100%;
	position: fixed;
	z-index: 2;
}

header h1 {
	float: left;
	padding:15px 0;
	color: #eaeaea;
	position: sticky;
	z-index: 1;
}
header ul {
	float: right;
}
header ul li {
	display: inline-block;
}
header ul li a {
	padding:25px 20px;
	display: inline-block;
}

header ul li a:hover{
    background-color: #83cbbd;
}

.banner{
    height: 100vh;
    border: 1px solid;
    background-image: url('gambar/pixel.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;    
    position: relative;

}

.banner:after {
	content:'';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(20, 143, 119, .6);
}

section{
    padding: 50px 0;
}

.banner h2{
    color: #fff;
    border: 3px solid #fff;
    padding: 20px 25px;
    z-index: 1;
}


section h3{
	padding-top: 30px;
    text-align: center;
	font-size: 30px;
}

.gambar{
	margin: 30px auto;
	text-align: center;
}

.gambar img{
	max-width: 50%;
	height: auto;
	border-radius: 8px;
	box-shadow: 0px 10px 5px rgba(106, 146, 138, 0.6);
	transition: transform 0.3s ease-in-out;
}

.gambar img:hover{
	transform: scale(1.05);
}

.deskripsi{
	margin-top: 10px;
	font-size: 15px	
}

.gallery{
	background-color: #148F77;
}

section h4{
	text-align: center;
	font-size: 30px;
	padding-top: 30px;

}

.blog{
	background-color: #148F77;
	border: 1px solid;
}

.blog1{
	font-size: 20px;
}

.blog2{
	font-size: 20px;
}

.blog3{
	font-size: 20px;
	font-weight: bold;
}

.kontak{
	background-color: #148F77;
	border: 1px solid;
	text-align: center;
}

section h8{
	font-size: 30px;
	font-weight: bold;
}

.sosmed2 img{
	width: 35px;
	height: 35px;
}

.sosmed2 ul li{
	display: inline-block;
	padding: 20px 0;
}

  
.banner h2 span {
	color: #001ca9;
	
  }

.loader{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f7f9fb;
	transition: opacity 10s, visibility 1s;
	z-index: 3;

}

.loader-hidden{
	opacity: 0;
	visibility: hidden;
}

.loader::after{
	content: "";
	width: 75px;
	height: 75px;
	border: 15px solid #dddddd;
	border-radius: 50px;
	border-top-color: #7449f5;
	animation: loading 1s ease infinite;
}
  
@keyframes loading{
	from{
		transform: rotate(0turn)
	}
	to{
		transform: rotate(1turn);
	}
}