* {
	padding:0;
	margin:0;
	font-family: sans-serif;
}
a {
	color: inherit;
	text-decoration: none;
}
.medsos {
	padding:5px 0;
	background-color: #148F77;
}
.medsos ul li {
	display: inline-block;
	color: #fff;
	margin-right: 10px;
}
.container {
	width:80%;
	margin:0 auto;
}
.container:after {
	content:'';
	display: block;
	clear: both;
}
header h1 {
	float: left;
	padding:15px 0;
	color: #148F77;
}
header ul {
	float: right;
}
header ul li {
	display: inline-block;
}
header ul li a {
	padding:25px 20px;
	display: inline-block;
}

header ul li a:hover{
    background-color: #148F77;
}


.banner{
    height: 60vh;
    border: 1px solid;
    background-image: url('gambar/banner.jpeg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;    
    position: relative;

}

.banner:after {
	content:'';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(20, 143, 119, .6);
}

section{
    padding: 50px 0;
}

.banner h2{
    color: #fff;
    border: 3px solid #fff;
    padding: 20px 25px;
    z-index: 1;
}

section h3{
    text-align: center;
	font-size: 30px;
}

.gambar{
	margin: 30px auto;
	text-align: center;
}

.gambar img{
	max-width: 50%;
	height: auto;
	border-radius: 8px;
	box-shadow: 0px 10px 5px rgba(106, 146, 138, 0.6);
	transition: transform 0.3s ease-in-out;
}

.gambar img:hover{
	transform: scale(1.05);
}

.deskripsi{
	margin-top: 10px;
	font-size: 15px	
}

.gallery{
	background-color: #148F77;
}

section h4{
	text-align: center;
	font-size: 30px;

}

.blog{
	background-color: #148F77;
	border: 1px solid;
}

.blog1{
	font-size: 20px;
}

.blog2{
	font-size: 20px;
}

.blog3{
	font-size: 20px;
	font-weight: bold;
}

.kontak{
	background-color: #148F77;
	border: 1px solid;
	text-align: center;
}

section h8{
	font-size: 30px;
	font-weight: bold;
}

.sosmed2 img{
	width: 35px;
	height: 35px;
}

.sosmed2 ul li{
	display: inline-block;
	padding: 20px 0;
}

