* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.container:after {
    content: '';
    display: block;
    clear: both;
}

header h1 {
    float: left;
    padding: 15px 0;
    color: #148F77;
}

header ul {
    float: right;
}

header ul li {
    display: inline-block;
}

header ul li a {
    padding: 25px 20px;
    display: inline-block;
}

header ul li a:hover {
    background-color: #148F77;
}

.form-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #fff; /* Background color untuk kotak */
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Opsional: Tambahkan bayangan untuk estetika */
}

.main {
    width: 48%; /* Sesuaikan lebar sesuai kebutuhan */
    padding: 20px;
    border-radius: 20px;
    background-color: #148F77;
    border: 1px solid;
    text-align: left;
}

.main ul {
    padding: 0;
}

.main ul li {
    display: inline-block;
    list-style: none;
}

.hubungi {
    margin: 0 auto;
    padding-bottom: 10px;
}

.profil img {
    height: 10px;
    width: 10px;
}



.review-form {
    width: 50%; /* Sesuaikan lebar sesuai kebutuhan */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.review-form input,
.review-form textarea {
    width: calc(100% - 22px);
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.review-form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.review-form button:hover {
    background-color: #0056b3;
}

section {
    background-image: linear-gradient(90deg, rgba(20,143,119,1) 2%, rgba(15,171,140,1) 19%, rgba(30,201,168,1) 78%, rgba(20,143,119,1) 100%);
    padding-bottom: 80px;
    border: 1px solid;
}
