* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    width: 80%;
    margin: 0 auto;

}


.container:after {
    content: '';
    display: block;
    clear: both;
}

.nav-items{
    color: #eaeaea;
}


header h1 {
    float: left;
	padding:15px 0;
	color: #eaeaea;
	position: sticky;
	z-index: 1;
}

header ul {
    float: right;
}

header ul li {
    display: inline-block;
}

header ul li a {
    padding: 25px 20px;
    display: inline-block;
}

header ul li a:hover {
    background-color: #1C2833;
}

.form-container {
    display: flex;
    justify-content: space-between;
    background-color: #17202A;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Opsional: Tambahkan bayangan untuk estetika */
}

.main {
    width: 100%; /* Sesuaikan lebar sesuai kebutuhan */
    padding: auto;
    border-radius: 20px;
    background-color: #283747;
    border: 1px solid;
    text-align: center;
}

.main ul {
    padding: 0;
}

.main ul li {
    display: inline-block;
    list-style: none;
}

.hubungi {
    margin: 0 auto;
    padding-bottom: 10px;
    padding-top: 20px;
}

.profile img{
    height: 150px;
    width: 150px;
    border-radius: 10px;
}

.logo ul li {
    height: 30px;
    width: 30px;
    display: inline-block;
    align-items: center;
}

    .review-form {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 10px;
        background-color: #f9f9f9;
        align-items: center;
    }

.review-form input,
.review-form textarea {
    width: 90%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.review-form button {
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #12202f;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.review-form button:hover {
    background-color: #425162;
}


